.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  margin-top: 3px;
}

#App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App #logo-container {
  display: inline-block;
  background-color: #82BDBD;
  border-radius: 100%;
  height: 97px;
  width: 97px;
}

.App-intro {
  font-size: large;
}

.App .hidden {
  display: none;
}

.App #elsewhere-text {
  margin-top: 20px;
}

.App #custom-location {
  margin-top: 5px;
  border-radius: 3px;
  border: none;
  margin-bottom: 30px;
}

.App #custom-location #location-input {
  margin-right: 1px 3px 0 0;
  border: solid #ABAFB0 1px;
  border-radius: inherit;
  width: 200px;
  padding: 2px;
  font-size: 16px;
  position: relative;
  top: 1px;
}

.App #custom-location #lookup-button {
  border: solid #ABAFB0 1px;
  border-radius: inherit;
  margin-left: 3px;
  font-size: 14px;
  background-color: #EBF4F7;
}

.App #custom-location #lookup-button:hover {
  background-color: #D5E0E3;
  cursor: pointer;
}

.App #forecast-container {
  width: 100%;
  min-height: 100px;
}

.App #weather-for-all-days {
  border-bottom: solid 1px #3C545C;
}

.App #error-text {
  color: #ED2647;
}

.App .time {
  border-top: solid 1px #14ADE0;
}

.App .one-day {
  border: solid 2px #E04714;
  text-align: center;
  margin: 0.49rem 2%;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 46%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.large:before {
  width: 100px;
  height: 100px;
}
